<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <style>
            .btn{ padding: 10px 20px; margin: 10px; cursor: pointer; border: 1px solid black; background-color: #CCC; display: inline-block; }
            input[type="text"]{ height: 30px; width: 300px; padding-left: 10px; }
        </style>
        <script>{% include 'index/index.js' %}</script>
    </head>
    <body>
        <p>{{mensagem}}</p>
        
        <form method="post" action="{{url}}/transferencia/vender/cobblestone/100">
            <input type="text" name="player" value="{{get.player}}" placeholder="Nome do Usuário"/>
            <input type="submit" class="btn" value="Vender 64 cobblestones por 1,00 culhão" />
        </form>
           
        {% if player.saldo %}
            <p>{{player.name}}: {{player.saldo}}</p>
        {% endif %}
    </body>
</html>