{% extends "painel.twig" %}
    
{%
    set pagina = {
        titulo: ("Terreno - Cadastro"),
        caminho: [
            { titulo: "Terreno", url: url~"/painel/terreno/lista" },
            { titulo: "Cadastro", ativo:true }
        ]
    }
%}

{% block conteudo %}

<div class="col-sm-12">
    <form method="post" action="{{url_module}}/salvar-alteracoes/{{Terreno.getId()}}" id="form_cad" class="" autocomplete="off">
        <p style="color: red; display: none;" id="msg"></p>

        <div class="form-group col-sm-12">
            <label>Nome do ponto de terreno</label>
            <input type="text" name="nome" value="{{Terreno.getNome()}}" class="form-control"/>
        </div>

        <div class="form-group col-sm-12">
            <label>Coordenada do Centro</label>
            <input type="text" disabled value="{{Terreno.getCoordenadasCentral()}}" class="form-control"/>
            <small>Coordenada atual do personagem no jogo</small>
        </div>

        <div class="form-group col-sm-12">
            <label>
            
                Tamanho do TERRENO: <br/>
                10 blocos de largura (o personagem deve estar exatamente no meio) <br/>
                10 blocos de altura <br/>
                !! Atenção !! <br/>
                Tudo que estiver dentro destas proporções será apagado.
            </label>
        </div>
            
        {% if Terreno.getCoordenadasCentral() %}
        <div class="form-group col-sm-12">
            <label>Selecione a direção da saída da cúpula</label>
            <select class="form-control" name="pos_saida">
                <option value="z+" {{Terreno.getPosicaoSaida() == 'z+' ? 'selected' : ''}}>Verde</option>
                <option value="z-" {{Terreno.getPosicaoSaida() == 'z-' ? 'selected' : ''}}>Laranja</option>
                <option value="x+" {{Terreno.getPosicaoSaida() == 'x+' ? 'selected' : ''}}>Azul</option>
                <option value="x-" {{Terreno.getPosicaoSaida() == 'x-' ? 'selected' : ''}}>Vermelho</option>
            </select>
        </div>
        {% endif %}

        <div class="form-group col-sm-4">
            {% if Terreno.getId() %}
                {% set texto_btn = "Salvar alterações" %}
            {% else %}
                {% set texto_btn = "Cadastrar terreno por "~valor_terreno %}
            {% endif %}
            
            <input type="submit" value="{{texto_btn}}" class="form-control btn btn-primary"/>
        </div>
        {% if Terreno.getId() %}
        <div class="form-group col-sm-4">
            <a href="#" id="excluir" class="form-control btn btn-danger">Excluir</a>
        </div>
        {% endif %}

    </form>
    
</div>

<script>
    $(function(){
        $("#excluir").on('click', function(e){
            e.preventDefault();
            $.ajax({
                url: "{{url_module}}/excluir/{{Terreno.getId()}}",
                dataType: "json",
                success: function(data)
                {
                    if( data.status ){
                        window.location = "{{url_module}}/lista";
                    }else{
                        $("#msg").html(data.mensagem).show();
                    }
                }
            }); 
            return false;
        });
        $("#form_cad").ajaxForm({
            dataType: "json",
            success: function(data)
            {
                if( data.status ){
                    window.location = "{{url_module}}/lista";
                }else{
                    $("#msg").html(data.mensagem).show();
                }
            }
        });
    });
</script>
    
{% endblock %}