{% extends "painel.twig" %}
    
{%
    set pagina = {
        titulo: "Terreno",
        caminho: [
            { titulo: "Terreno", ativo:true }
        ]
    }
%}

{% block conteudo %}

<div class="row">
    
    <div class="form-group col-lg-12">
        <a href="{{url_module}}/cadastro/novo" class="btn btn-primary">Cadastrar Terreno</a>
    </div>
    
    <div class="form-group col-lg-12">
    {% if lista['cont_total'] > 0 %}
        {% for Terreno in lista['rows'] %}
        
            <p>
                {{Terreno.getDescricao()}} &nbsp;&nbsp;&nbsp;
                <label onclick="teleporte({{Terreno.getId()}}, 'entrar-em-casa')" class="btn btn-success btn-xs">
                    Entrar em Casa
                </label>
                &nbsp;&nbsp;
                <label onclick="teleporte({{Terreno.getId()}}, 'sair-de-casa')" class="btn btn-success btn-xs">
                    Sair de Casa
                </label>
                &nbsp;&nbsp;
                <a href="{{url_module}}/cadastro/{{Terreno.getId()}}" class="btn btn-warning btn-xs">Editar</a>
            </p>
        
        {% endfor %}
    {% else %}
        <center>Nenhum Terreno Cadastrado</center>
    {% endif %}
    </div>
    
</div>
    
<script>
    function teleporte( tele_id, tipo )
    {
        $.ajax({
            url: "{{url_module}}/"+tipo+"/"+tele_id,
            dataType: "json",
            success: function(data){
                if( data.status ){
                    alert("Teleportado com sucesso");
                }else{
                    $("#msg").html(data.mensagem).show();
                }
            }
        });
    }
</script>
    
{% endblock %}