{% extends "painel.twig" %}

{% block conteudo %}
    
    <input type="hidden" id="valor_carteira" value="294.48"/>

    <div class="row">
        <div class="col-sm-12">
            <script>
                function showBloco(bloco){
                    if( bloco == "venda" ){
                        $('#lojas_compra').hide();
                        $('#lojas_venda').show();
                        $(".btn-bloco2").addClass("btn-success");
                        $(".btn-bloco1").removeClass("btn-success");
                    }else{
                        $('#lojas_venda').hide();
                        $('#lojas_compra').show();
                        $(".btn-bloco1").addClass("btn-success");
                        $(".btn-bloco2").removeClass("btn-success");
                    }
                }
            </script>

            <button class="btn btn-bloco1 btn-success" onclick="showBloco('compra');">Comprar</button>
            <button class="btn btn-bloco2" onclick="showBloco('venda');">Vender</button>

        </div>
    </div>
    
    
    <br/>
    <div class="row" id="lojas_compra">

        {% for Loja in lojas_venda['rows'] %}
            {% set id = Loja.getId() %}
            {% set Item = Loja.getItemObj() %}
            
            <div class="loja-group" style="display:table;">
                <div class="erro" id="erro_loja_{{id}}" style="visibility: hidden;"></div>
                <button class="btn btn-success btn-venda" 
                        id="btn_loja_{{id}}" 
                        data-loja-id="{{id}}" 
                        data-base-calculo="{{Loja.getValorUnidade() * Loja.getQuantidadeMinimaVenda()}}"
                        data-qtde-disponivel="{{Loja.getQuantidadeDisponivel()}}"
                        data-operacao="C">
                    <img src="{{Item.getImagemUrl()}}"/>
                    <p><b>{{Item.getDescricao()}}</b></p>
                    <p>
                        Comprar<br/>
                        {{Loja.getQuantidadeMinimaVenda()}} por ${{(Loja.getValorUnidade() * Loja.getQuantidadeMinimaVenda())|number_format(2, ',', '.')}}
                    </p>
                    <p><small>Disponível: {{Loja.getQuantidadeDisponivel()}} unidades</small></p>
                </button>
                <div class="opcoes" id="opcoes_loja_{{id}}">
                    <input type="number" class="qtde" value="1" id="qtde_loja_{{id}}" data-loja-id="{{id}}"/> x ${{Loja.getValorUnidade() * Loja.getQuantidadeMinimaVenda()}}
                    <br/>
                    Total: <span class="valor-final">${{Loja.getValorUnidade() * Loja.getQuantidadeMinimaVenda()}}</span>
                    <button class="btn btn-concluir btn-success" id="comprar_loja_{{id}}" data-loja-id="{{id}}">Comprar</button>
                </div>
            </div>
            
        {% endfor %}

    </div>
            
    <div class="row" id="lojas_venda" style="display:none;">

        {% for Loja in lojas_compra['rows'] %}
            {% set id = Loja.getId() %}
            {% set Item = Loja.getItemObj() %}
            
            <div class="loja-group" style="display:table;">
                <div class="erro" id="erro_loja_{{id}}" style="visibility: hidden;"></div>
                <button class="btn btn-success btn-venda" 
                        id="btn_loja_{{id}}" 
                        data-loja-id="{{id}}" 
                        data-base-calculo="{{Loja.getValorUnidade() * Loja.getQuantidadeMinimaVenda()}}"
                        data-qtde-disponivel="{{Loja.getQuantidadeDisponivel()}}"
                        data-operacao="V">
                    <img src="{{Item.getImagemUrl()}}"/>
                    <p><b>{{Item.getDescricao()}}</b></p>
                    <p>
                        Vender<br/>
                        {{Loja.getQuantidadeMinimaVenda()}} por ${{(Loja.getValorUnidade() * Loja.getQuantidadeMinimaVenda())|number_format(2, ',', '.')}}
                    </p>
                    <p><small>Disponível: {{Loja.getQuantidadeDisponivel()}} unidades</small></p>
                </button>
                <div class="opcoes" id="opcoes_loja_{{id}}">
                    <input type="number" class="qtde" value="1" id="qtde_loja_{{id}}" data-loja-id="{{id}}"/> x ${{Loja.getValorUnidade() * Loja.getQuantidadeMinimaVenda()}}
                    <br/>
                    Total: <span class="valor-final">${{Loja.getValorUnidade() * Loja.getQuantidadeMinimaVenda()}}</span>
                    <button class="btn btn-concluir btn-success" id="comprar_loja_{{id}}" data-loja-id="{{id}}">Vender</button>
                </div>
            </div>
            
        {% endfor %}

    </div>


    <style>
        .loja-group{ border: 1px solid #CCC; margin: 10px; padding: 10px; float: left; }
        .btn-venda{ text-align: center; width: 200px; }
        .btn-venda img{ max-height: 60px; }
        .erro{ color: red; font-weight: bold; text-align: center; padding: 3px 0; position: absolute; width: 200px; background-color: #FFF; }
        .opcoes{ margin-top: 15px; font-size: 12px; text-align: center; }
        .opcoes input{ height: 18px; line-height: 16px; width: 50px; font-size: 10px; vertical-align: middle; padding: 0; }
        .opcoes .btn{ height: 20px; line-height: 18px; vertical-align: middle; font-size: 12px; padding: 0px 5px; }
    </style>

<script>
    function calcularNovoValor(element_id)
    {
        var element = $("#"+element_id);
        var loja_id = $(element).data("loja-id");
        var element_loja = $("#btn_loja_"+loja_id);
        var base_calculo = $(element_loja).data("base-calculo");
        var qtde = $(element).val();
        var novo_valor = (Number(qtde) * Number(base_calculo)).toFixed(2);
        var valor_carteira = Number($("#money_user").html());
        var qtde_disponivel = Number($(element).data("qtde-disponivel"));
        var operacao = $(element_loja).data("operacao");
        
        $(element).parent().find(".valor-final").html( "$" + novo_valor.replace(".",",") );
        
        if( (operacao === "C" && valor_carteira < novo_valor) || qtde_disponivel < qtde ){
            $(element).parent().find(".valor-final").css("color", "red");
        }else{
            $(element).parent().find(".valor-final").css("color", "green");
        }
        
    }
    
    $(function(){
        
        $(".qtde").on("keyup", function(){
            calcularNovoValor($(this).attr("id"));
        });
        $(".qtde").on("change", function(){
            calcularNovoValor($(this).attr("id"));
        });
        
        $(".btn-venda").on('click', function(){
            var id = $(this).data("loja-id");
        });
        
        //loadMoneyUser();
        
        $(".btn-concluir").on("click", function(){
            
            var loja_id = $(this).data("loja-id");
            var quantidade = $("#qtde_loja_"+loja_id).val();
            
            $.ajax({
                url: "{{url}}/loja/transacao/admin",
                dataType: "json",
                data: {
                    loja_id: loja_id,
                    quantidade: quantidade
                },
                type: "post",
                success: function(data)
                {
                    if( data.status ){
                        alert(data.mensagem);
{#                        window.location = window.location;#}
                    }else{
                        $("#erro_loja_"+loja_id).html(data.mensagem).css("visibility", "visible");
                        setTimeout(function(){
                            $("#erro_loja_"+loja_id).css("visibility", "hidden");
                        }, 5000);
                    }
                }
            });
            return false;
        });
    });
</script>
    
{% endblock %}