<ul class="nav navbar-nav navbar-right navbar-user">
    
    <li class="dropdown user-dropdown">
        {% if UsuarioOnline %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>&nbsp; {{UsuarioOnline.getNome()}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{{url}}/painel/perfil"><i class="fa fa-user"></i>&nbsp; Perfil</a></li>
            <li><a href="#"><i class="fa fa-gear"></i>&nbsp; Configurações</a></li>
            <li class="divider"></li>
            <li><a href="{{url}}/sessao/sair"><i class="fa fa-power-off"></i>&nbsp; Sair</a></li>
        </ul>
        {% else %}
        <a href="{{url}}/painel/perfil"><i class="fa fa-user"></i>&nbsp; Entrar</a>
        {% endif %}
    </li>
</ul>