<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% set url_tpl = url~"/media/templates/public" %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{{pagina.titulo ? pagina.titulo~" - " : ""}}Minecraft Shop</title>

        {# jQuery #}
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery.form.js"></script>
        <link type="text/css" rel="stylesheet" href="{{url}}/media/libs/jquery/css/custom-theme/jquery-ui-1.8.22.custom.css" />

        {# Bootstrap core #}
        <link href="{{url_tpl}}/css/bootstrap.css" rel="stylesheet">
        <script src="{{url_tpl}}/js/bootstrap.js"></script>

        {# Add custom CSS here #}
        <link href="{{url_tpl}}/css/sb-admin.css" rel="stylesheet">
        <link href="{{url_tpl}}/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        
        {# jQuery NOTY http://ned.im/noty #}
        <script type="text/javascript" src="{{url}}/media/libs/noty-2.2.2/js/noty/packaged/jquery.noty.packaged.min.js"></script>
        <script type="text/javascript" src="{{url}}/media/libs/noty-2.2.2/js/noty/layouts/topCenter.js"></script>
        
        {# FancyApps http://fancyapps.com/fancybox #}
        <script type="text/javascript" src="{{url}}/media/libs/fancyapps/lib/jquery.mousewheel-3.0.6.pack.js"></script>
        <link rel="stylesheet" href="{{url}}/media/libs/fancyapps/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        <script type="text/javascript" src="{{url}}/media/libs/fancyapps/source/jquery.fancybox.pack.js?v=2.1.5"></script>
        
        {% for tmp_module in import %}
            {% if tmp_module|lower == "ckeditor" %}
                <script type="text/javascript" src="{{url}}/application/library/CKEditor/ckeditor.js"></script>
                <script type="text/javascript" src="{{url}}/application/library/CKEditor/adapters/jquery.js"></script>
                <link rel="stylesheet" href="{{url}}/application/library/CKEditor/skins/moono/editor.css" type="text/css" media="screen" />
            {% endif %}
            {% if tmp_module|lower == "highlight" %}
                {# Doc in https://github.com/isagalaev/highlight.js #}
                <link rel="stylesheet" href="{{url}}/media/libs/highlight/styles/default.css">
                <script src="{{url}}/media/libs/highlight/highlight.pack.js"></script>
                <script>hljs.initHighlightingOnLoad();</script>
            {% endif %}
            {% if tmp_module|lower == "tree-view" %}
                <script src="{{url}}/media/libs/hazo-tree-view-1.0/jquery.hazo-tree-view.js"></script>
                <link href="{{url}}/media/libs/hazo-tree-view-1.0/jquery.hazo-tree-view.css" type="text/css" rel="stylesheet"/>
            {% endif %}
        {% endfor %}
        
        <style>#wrapper{ padding-left: 0 !important; }</style>
    </head>

    <body>
        {% block conteudo %}{% endblock %}
    </body>
</html>
