{% extends "painel.twig" %}
    
{%
    set pagina = {
        titulo: ("Teletransporte - Cadastro"),
        caminho: [
            { titulo: "Teletransporte", url: url~"/painel/teletransporte/lista" },
            { titulo: "Cadastro", ativo:true }
        ]
    }
%}

{% block conteudo %}

<div class="col-sm-12">
    <form method="post" action="{{url_module}}/salvar-alteracoes/{{Teletransporte.getId()}}" id="form_cad" class="" autocomplete="off">
        <p style="color: red; display: none;" id="msg"></p>

        <div class="form-group col-sm-12">
            <label>Nome do ponto de teletransporte</label>
            <input type="text" name="nome" value="{{Teletransporte.getNome()}}" class="form-control"/>
        </div>

        <div class="form-group col-sm-12">
            <label>Coordenada</label>
            <input type="text" disabled value="{{Teletransporte.getCoordenadas()}}" class="form-control"/>
            <small>Coordenada atual do seu personagem no jogo</small>
        </div>

        <div class="form-group col-sm-4">
            <input type="submit" value="Salvar" class="form-control btn btn-primary"/>
        </div>

    </form>
    
</div>

<script>
    $(function(){
        
        $("#form_cad").ajaxForm({
            dataType: "json",
            success: function(data)
            {
                if( data.status ){
                    window.location = "{{url_module}}/lista";
                }else{
                    $("#msg").html(data.mensagem).show();
                }
            }
        });
    });
</script>
    
{% endblock %}