{% extends "painel.twig" %}
    
{%
    set pagina = {
        titulo: "Teletransportes",
        caminho: [
            { titulo: "Teletransporte", ativo:true }
        ]
    }
%}

{% block conteudo %}

<div class="row">
    
    <div class="form-group col-lg-12">
        <a href="{{url_module}}/cadastro/novo" class="btn btn-primary">Cadastrar Ponto de Teletransporte</a>
    </div>
    
    <div class="form-group col-lg-12">
    {% if lista['cont_total'] > 0 %}
        {% for Tele in lista['rows'] %}
        
            <p>
                {{Tele.getDescricao()}} &nbsp;&nbsp;&nbsp;
                <label onclick="teleporte({{Tele.getId()}})" class="btn btn-success btn-xs">
                    Teletransportar ({{valor_teletransporte}})
                </label>
                &nbsp;&nbsp;
                <a href="{{url_module}}/cadastro/{{Tele.getId()}}" class="btn btn-warning btn-xs">Editar</a>
            </p>
        
        {% endfor %}
    {% else %}
        <center>Nenhum Ponto Cadastrado</center>
    {% endif %}
    </div>
    
</div>
    
<script>
    function teleporte( tele_id )
    {
        $.ajax({
            url: "{{url_module}}/go-to/"+tele_id,
            dataType: "json",
            success: function(data){
                console.log(data);
            }
        });
    }
    
    $(function(){
        
        $("#form_login").ajaxForm({
            dataType: "json",
            success: function(data)
            {
                if( data.status ){
                    window.location = "{{url}}/painel";
                }else{
                    $("#msg").html(data.mensagem).show();
                }
            }
        });
    });
</script>
    
{% endblock %}