{% extends "templates/public/index.twig" %}

{% block conteudo %}

    
<form method="post" action="{{url_module}}/entrar" id="form_login" class="row form-horizontal" autocomplete="off">

    <center>
        <p style="color: red; display: none;" id="msg"></p>
        
        <div style="width: 400px; text-align: left">
            
            <div class="form-group col-sm-12">
                <label>Login</label>
                <input type="text" name="login" value="" class="form-control"/>
            </div>
            
            
            <div class="form-group col-sm-12">
                <label>Senha</label>
                <input type="password" name="senha" value="" class="form-control"/>
            </div>
            
            <div class="form-group col-sm-12">
                <input type="submit" value="Entrar" class="form-control btn btn-primary"/>
            </div>

            <div style="text-align: right; margin-right: 30px;" class="form-group">
                <a href="{{url}}/painel/sessao/cadastro">Cadastrar-se</a>
            </div>
            
        </div>
    </center>

</form>

<script>
    $(function(){
        
        $("#form_login").ajaxForm({
            dataType: "json",
            success: function(data)
            {
                if( data.status ){
                    window.location = "{{url}}/painel";
                }else{
                    $("#msg").html(data.mensagem).show();
                }
            }
        });
    });
</script>
    
{% endblock %}