{% spaceless %}

<script>
    
    function showMessage(message, type){
        if( !type ){
            type = "error";
        }
        noty({text: message, type: type, timeout: 5000});
    }
    
    $().ready(function(){
        {% if success %}
            {% for message in success %}
                noty({text: "{{message}}", type: 'success', timeout: 5000});
            {% endfor %}
        {% endif %}

        {% if errors %}
            {% for message in errors %}
                noty({text: "{{message}}", type: 'error', timeout: 5000});
            {% endfor %}
        {% endif %}

        {% if alert %}
            {% for message in alert %}
                noty({text: "{{message}}", type: 'alert', timeout: 5000});
            {% endfor %}
        {% endif %}
            
        $(document).ready(function() {
            $(".fancybox").fancybox();
            $(".fancybox-ajax").fancybox({type: 'ajax', parent: "#wrapper", autoSize: true});
	});
            
    });
</script>
    
{% endspaceless %}