{% set flag = 1 %}

{% if ProjetoSelecionado %}
    
<ul class="nav navbar-nav side-nav">
    
    <li style="width:100%;padding: 0 10px;">
        <form method="get" action="{{url}}/documentacao/pesquisa" class="">
            <input type="text" class="form-control" style="margin-top:7px;" placeholder="Pesquisar Documentação" name="Pesquisa">
        </form>
    </li>
    
    <li><a href="{{url}}/painel/projetos/visualizacao/{{ProjetoSelecionado.getHash()}}"><i class="fa fa-tasks"></i>&nbsp; Visualização do Projeto</a></li>
    <li><a href="{{url}}/painel/projeto/board/lista/{{ProjetoSelecionado.getHash()}}"><i class="fa fa-dashboard"></i>&nbsp; Boards</a></li>
    <li><a href="{{url}}/painel/projeto/member/lista/{{ProjetoSelecionado.getHash()}}"><i class="fa fa-user"></i>&nbsp; Members</a></li>
    <li><a href="{{url}}/painel/projeto/documentacao-old/visualizacao/{{ProjetoSelecionado.getHash()}}"><i class="glyphicon glyphicon-book"></i>&nbsp; Documentação Old</a></li>
    <li><a href="{{url}}/painel/projeto/documentacao/visualizacao/{{ProjetoSelecionado.getHash()}}"><i class="glyphicon glyphicon-book"></i>&nbsp; Documentação</a></li>
</ul>
    
{% elseif flag == 2 %}   {# Exemplo #}
    
<ul class="nav navbar-nav side-nav">
    <li><a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="charts.html"><i class="fa fa-bar-chart-o"></i> Charts</a></li>
    <li><a href="tables.html"><i class="fa fa-table"></i> Tables</a></li>
    <li class="active"><a href="forms.html"><i class="fa fa-edit"></i> Forms</a></li>
    <li><a href="typography.html"><i class="fa fa-font"></i> Typography</a></li>
    <li><a href="bootstrap-elements.html"><i class="fa fa-desktop"></i> Bootstrap Elements</a></li>
    <li><a href="bootstrap-grid.html"><i class="fa fa-wrench"></i> Bootstrap Grid</a></li>
    <li><a href="blank-page.html"><i class="fa fa-file"></i> Blank Page</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">Dropdown Item</a></li>
            <li><a href="#">Another Item</a></li>
            <li><a href="#">Third Item</a></li>
            <li><a href="#">Last Item</a></li>
        </ul>
    </li>
</ul>
    
{% else %}
    
<style>#wrapper{ padding-left: 0 !important; }</style>

{% endif %}
