<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% set url_tpl = url~"/media/templates/sb-admin" %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{{pagina.titulo ? pagina.titulo~" - " : ""}}Minecraft Shop</title>

        {# jQuery #}
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery.form.js"></script>
        <link type="text/css" rel="stylesheet" href="{{url}}/media/libs/jquery/css/custom-theme/jquery-ui-1.8.22.custom.css" />

        {# Bootstrap core #}
        <link href="{{url_tpl}}/css/bootstrap.css" rel="stylesheet">
        <script src="{{url_tpl}}/js/bootstrap.js"></script>

        {# Add custom CSS here #}
        <link href="{{url_tpl}}/css/sb-admin.css" rel="stylesheet">
        <link href="{{url_tpl}}/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        
        {# jQuery NOTY http://ned.im/noty #}
        <script type="text/javascript" src="{{url}}/media/libs/noty-2.2.2/js/noty/packaged/jquery.noty.packaged.min.js"></script>
        <script type="text/javascript" src="{{url}}/media/libs/noty-2.2.2/js/noty/layouts/topCenter.js"></script>
        
        {# FancyApps http://fancyapps.com/fancybox #}
        <script type="text/javascript" src="{{url}}/media/libs/fancyapps/lib/jquery.mousewheel-3.0.6.pack.js"></script>
        <link rel="stylesheet" href="{{url}}/media/libs/fancyapps/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        <script type="text/javascript" src="{{url}}/media/libs/fancyapps/source/jquery.fancybox.pack.js?v=2.1.5"></script>
        
        {% for tmp_module in import %}
            {% if tmp_module|lower == "ckeditor" %}
                <script type="text/javascript" src="{{url}}/application/library/CKEditor/ckeditor.js"></script>
                <script type="text/javascript" src="{{url}}/application/library/CKEditor/adapters/jquery.js"></script>
                <link rel="stylesheet" href="{{url}}/application/library/CKEditor/skins/moono/editor.css" type="text/css" media="screen" />
            {% endif %}
            {% if tmp_module|lower == "highlight" %}
                {# Doc in https://github.com/isagalaev/highlight.js #}
                <link rel="stylesheet" href="{{url}}/media/libs/highlight/styles/default.css">
                <script src="{{url}}/media/libs/highlight/highlight.pack.js"></script>
                <script>hljs.initHighlightingOnLoad();</script>
            {% endif %}
        {% endfor %}
        
    </head>

    <body>
        {% set UsuarioOnline = globals['page']['UsuarioOnline'] %}

        <div id="">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    {% if UsuarioOnline.getTipo() == "A" %}
                        <a href="#" class="navbar-brand">Administrador</a>
                    {% else %}
                        <a href="#" class="navbar-brand">
                            {{UsuarioOnline.getLogin()}} 
                            (<i class="glyphicon glyphicon-usd"></i>&nbsp;<span class="money_user">Carregando...</span>)
                        </a>
                                
                        <script>
                            function loadMoneyUser()
                            {
                                $.ajax({
                                    url: "{{url}}/loja/transacao/get-saldo",
                                    dataType: "json",
                                    success: function(data){
                                        $(".money_user").html( data.saldo );
                                    }
                                });
                            }
                            $(function(){
                                loadMoneyUser();
                                setInterval(function(){
                                    loadMoneyUser();
                                },5000);
                            });
                        </script>
                    {% endif %}
                    
                </div>

                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    
                    {% if UsuarioOnline.getTipo() == "A" %}
                    
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown user-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Loja<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{url}}/painel/administrador/item/lista">Itens</a></li>
                                <li><a href="{{url}}/painel/administrador/loja/venda">Loja do Administrador - Venda</a></li>
                                <li><a href="{{url}}/painel/administrador/loja/compra">Loja do Administrador - Compra</a></li>
                            </ul>
                        </li>
                    </ul>
                    
                    {% else %}
                    
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown user-dropdown">
                            <a href="{{url}}/loja">Loja</a>
                        </li>
                        <li class="dropdown user-dropdown">
                            <a href="{{url}}/painel/teletransporte/lista">Teletransporte</a>
                        </li>
                        <li class="dropdown user-dropdown">
                            <a href="{{url}}/painel/terreno/lista">Terrenos</a>
                        </li>
                        {% if UsuarioOnline.getLogin == "Fernando" %}
                        {% endif %}
                    </ul>
                            
                    {% endif %}
                            
                    <ul class="nav navbar-nav navbar-right navbar-user">
                        
                        {% if UsuarioOnline.getTipo() == "A" %}
                        
                        <li class="dropdown user-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp; Painel de Controle <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{url}}/painel/administrador/servidor/mensagem"><i class="fa fa-user"></i>&nbsp; Mensagem</a></li>
                                <li><a href="{{url}}/painel/administrador/servidor/comando"><i class="fa fa-user"></i>&nbsp; Executar Comandos</a></li>
                                <li><a href="{{url}}/painel/administrador/usuario/lista"><i class="fa fa-user"></i>&nbsp; Usuários</a></li>
                            </ul>
                        </li>
                        {% endif %}

                        <li class="dropdown user-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>&nbsp; {{UsuarioOnline.getNome()}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{url}}/painel/usuario/cadastro"><i class="fa fa-user"></i>&nbsp; Perfil</a></li>
                                <li><a href="#"><i class="fa fa-gear"></i>&nbsp; Configurações</a></li>
                                <li class="divider"></li>
                                <li><a href="{{url}}/painel/sessao/logoff"><i class="fa fa-power-off"></i>&nbsp; Sair</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <div id="page-wrapper">
                
                {% if pagina %}
                    <div class="row">
                        <div class="col-lg-12" >
                            {% if pagina.titulo %}
                            <h1 style="font-size:22px;font-weight:bold;">{{pagina.titulo}} <small>{{pagina.subtitulo}}</small></h1>
                            {% endif %}

                            {% if pagina.caminho %}
                            <ol class="breadcrumb">
                                {% for caminho in pagina.caminho %}
                                    {% if caminho.ativo %}
                                        <li class="active">{{caminho.titulo}}</li>
                                    {% else %}
                                        <li><a href="{{caminho.url}}">{{caminho.titulo}}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

        
                <br/>
                {% block conteudo %}{% endblock %}
            </div>
        </div>

        {% include "html-bottom-messages.twig" %}
    </body>
</html>
