<!doctype html>
<html>
<head>
    
    <link rel="stylesheet" media="all" href="{{url}}/media/public/rpg/css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" media="all" href="{{url}}/media/libs/jquery/jquery-ui-1.8.13.custom.css"/>
    <script src="{{url}}/media/libs/jquery/jquery-2.0.0.min.js"></script>
    <script src="{{url}}/media/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="{{url}}/media/libs/jquery/jquery.form.js"></script>
    
    <script>
        var hazoParam = {
            url: "{{url}}",
            url_mode: "{{url_mode}}"
        }
    </script>

    <link rel="stylesheet" media="all" href="{{url}}/media/public/rpg/cadastro/cadastro.css"/>
</head>

<body lang="pt-br">

    <div id="frmlg">
        {#
        <div class='logo'>
            <img src="{{url}}/media/images/rpg-free-logo.gif"/>
            <span>Free</span>
        </div>
        #}
        {% block content %}{% endblock %}
    </div>

</body>

</html>