{% extends "painel.twig" %}
    
{%
    set pagina = {
        titulo: "Cadastro de Item",
        caminho: [
            { titulo: "Administrador", url: url~"/painel/administrador" },
            { titulo: "Cadastro de Item", ativo:true }
        ]
    }
%}

{% block conteudo %}

<div class="col-sm-12">
    <form method="post" action="{{url_module}}/salvar-cadastro/{{Item.getCodigo()}}" id="form_cad" class="" autocomplete="off">
        <p style="color: red; display: none;" id="msg"></p>

        <div class="form-group col-sm-6">
            <label>Código do Item</label>
            {% if Item.getCodigo() %}
                <input type="text" disabled="disabled" value="{{Item.getCodigo()}}" class="form-control"/>
            {% else %}
                <input type="text" name="codigo" value="" class="form-control"/>
            {% endif %}
        </div>

        <div class="form-group col-sm-6">
            <label>Descrição</label>
            <input type="text" name="descricao" value="{{Item.getDescricao()}}" class="form-control"/>
        </div>

        <div class="form-group col-sm-12">
            <label>Url da Imagem</label>
            <input type="text" name="img_url" value="{{Item.getImagemUrl()}}" class="form-control"/>
        </div>

        <div class="form-group col-sm-12">
            <input type="submit" value="Salvar Informações" class="form-control btn btn-primary"/>
        </div>

    </form>
    
</div>

<script>
    $(function(){
        
        $("#form_cad").ajaxForm({
            dataType: "json",
            success: function(data)
            {
                if( data.status ){
                    window.location = "{{url_module}}/lista";
                }else{
                    $("#msg").html(data.mensagem).show();
                }
            }
        });
    });
</script>
    
{% endblock %}