{% extends "painel.twig" %}
    
{%
    set pagina = {
        titulo: "Itens",
        caminho: [
            { titulo: "Administrador", url: url~"/painel/administrador" },
            { titulo: "Itens", ativo:true }
        ]
    }
%}

{% block conteudo %}

<div class="row">
    
    <div class="form-group col-lg-12">
        <a href="{{url_module}}/cadastro/novo" class="btn btn-primary">Cadastrar Item</a>
    </div>
    
    {% if itens['cont_total'] > 0 %}
        {% for Item in itens['rows'] %}
        
        <a href="{{url_module}}/cadastro/{{Item.getCodigo()}}" class="btn btn-success btn-item">
            <img class="img_item" src="{{Item.getImagemUrl()}}"/>
            &nbsp;&nbsp;{{Item.getDescricao()}}
        </a>
        
        {% endfor %}
    {% else %}
        <center>Nenhum Item Cadastrado</center>
        
    {% endif %}
    
</div>

<style>
    .img_item{ height: 40px; }
    
    .btn-item{
        margin: 15px 0 0 15px;
    }
    
</style>
    
<script>
    $(function(){
        
        $("#form_login").ajaxForm({
            dataType: "json",
            success: function(data)
            {
                if( data.status ){
                    window.location = "{{url}}/painel";
                }else{
                    $("#msg").html(data.mensagem).show();
                }
            }
        });
    });
</script>
    
{% endblock %}