{% extends "painel.twig" %}

{% block conteudo %}

    
<form method="post" action="{{url_module}}/cadastrar" id="form_login" class="row form-horizontal" autocomplete="off">

    <center>
        <p style="color: red; display: none;" id="msg"></p>
        
        <div style="width: 400px; text-align: left">
            
            <div class="form-group col-sm-12">
                <label>Login / Nome do Jogador</label>
                <input type="text" name="login" value="" class="form-control"/>
            </div>
            
            <div class="form-group col-sm-12">
                <label>Seu nome completo</label>
                <input type="text" name="nome" value="" class="form-control"/>
            </div>
            
            <div class="form-group col-sm-12">
                <label>E-mail</label>
                <input type="text" name="email" value="" class="form-control"/>
            </div>
            
            <div class="form-group col-sm-12">
                <label>Senha</label>
                <input type="password" name="senha" value="" class="form-control"/>
            </div>
            
            <div class="form-group col-sm-12">
                <label>Repita a Senha</label>
                <input type="password" name="rsenha" value="" class="form-control"/>
            </div>
            
            <div class="form-group col-sm-12">
                <input type="submit" value="Cadastrar" class="form-control btn btn-primary"/>
            </div>
            
        </div>
    </center>

</form>

<script>
    $(function(){
        
        $("#form_login").ajaxForm({
            dataType: "json",
            success: function(data)
            {
                if( data.status ){
                    window.location = "{{url}}/painel";
                }else{
                    $("#msg").html(data.mensagem).show();
                }
            }
        });
    });
</script>
    
{% endblock %}