{% extends "painel.twig" %}
    
{%
    set pagina = {
        titulo: ("Itens a Venda"),
        caminho: [
            { titulo: "Administrador", url: url~"/painel/administrador" },
            { titulo: "Itens a Venda", ativo:true }
        ]
    }
%}

{% block conteudo %}

<div class="col-sm-12">
    <form method="post" action="{{url_module}}/salvar-cadastro/{{operacao}}/{{Loja.getId()}}" id="form_cad" class="" autocomplete="off">
        <p style="color: red; display: none;" id="msg"></p>

        <div class="form-group col-sm-6">
            <label>Item que deseja {{operacao == "venda" ? "vender" : "comprar"}}</label>
            <select name="item" class="form-control">
            {% for Item in itens['rows'] %}
                
                {% set selected = Item.getCodigo() == Loja.getItemCodigo() ? "selected=\"selected\"" : "" %}
                
                <option value="{{Item.getCodigo()}}" {{selected}}>{{Item.getDescricao()}}</option>
            {% endfor %}
            </select>
        </div>

        <div class="form-group col-sm-6">
            <label>Valor Unitário</label>
            <input type="text" name="valor_unidade" value="{{Loja.getValorUnidade()}}" class="form-control"/>
        </div>

        <div class="form-group col-sm-6">
            <label>{{operacao == "venda" ? "Quantidade Disponível" : "Quantidade Desejada"}}</label>
            <input type="text" name="quantidade_disponivel" value="{{Loja.getQuantidadeDisponivel()}}" class="form-control"/>
        </div>

        <div class="form-group col-sm-6">
            <label>Quantidade mínima para {{operacao == "venda" ? "venda" : "compra"}}</label>
            <input type="text" name="quantidade_minima" value="{{Loja.getQuantidadeMinimaVenda()}}" class="form-control"/>
        </div>

        <div class="form-group col-sm-12">
            <input type="submit" value="Cadastrar" class="form-control btn btn-primary"/>
        </div>

    </form>
    
</div>

<script>
    $(function(){
        
        $("#form_cad").ajaxForm({
            dataType: "json",
            success: function(data)
            {
                if( data.status ){
                    window.location = "{{url_module}}/{{operacao}}";
                }else{
                    $("#msg").html(data.mensagem).show();
                }
            }
        });
    });
</script>
    
{% endblock %}