{% extends "painel.twig" %}
    
{%
    set pagina = {
        titulo: ( operacao == 'venda' ? "Itens a Venda" : "Compra de Itens" ),
        caminho: [
            { titulo: "Administrador", url: url~"/painel/administrador" },
            { titulo: operacao == 'venda' ? "Itens a Venda" : "Compra de Itens", ativo:true }
        ]
    }
%}

{% block conteudo %}

<div class="row">
    
    <div class="form-group col-lg-12">
        <a href="{{url_module}}/cadastro/{{operacao}}" class="btn btn-primary">Cadastrar Loja</a>
    </div>
    
    {% if lojas['cont_total'] > 0 %}
        {% for Loja in lojas['rows'] %}
        {% set Item = Loja.getItemObj() %}
        
        <div class="form-group col-lg-12">
            <img class="img_item" src="{{Item.getImagemUrl()}}"/>
            <a href="{{url_module}}/cadastro/{{operacao}}/{{Loja.getId()}}" class="">{{Loja.getDescricao()}}</a>
        </div>
        
        {% endfor %}
    {% else %}
        <center>Nenhuma loja cadastrada</center>
        
    {% endif %}
    
</div>
    
<style>
    .img_item{ height: 40px; }
</style>

<script>
    $(function(){
        
        $("#form_login").ajaxForm({
            dataType: "json",
            success: function(data)
            {
                if( data.status ){
                    window.location = "{{url}}/painel";
                }else{
                    $("#msg").html(data.mensagem).show();
                }
            }
        });
    });
</script>
    
{% endblock %}