<style>
        div.cab{ background-color: #abbbe5; border-bottom: 1px solid #455e9d; height: 30px; vertical-align: middle; padding-right: 10px; }
        div.cab > div{ float: right; line-height: 30px; padding: 0 3px; font-size: 13px; }
        div.cab .sep{ border-right: 1px dotted #455e9d; padding-right: 5px; height: 14px; vertical-align: middle; margin-top: 8px; margin-right: 4px;}
</style>

<div class="cab">
    
    <div class="sair"><a href="{{url}}/sessao/sair">Sair</a></div>
    <div class="sep"></div>
    <div class="nome">{{Usuario.getNome()}}</div>
    
</div>