{% extends "painel.twig" %}

{% block conteudo %}

    
<form method="post" action="{{url_module}}/comando" id="form_login" autocomplete="off">

    <input type="hidden" name="ultimos_exec" value="{{post.comando}}{{(post.ultimos_exec ? "<br/>"~post.ultimos_exec : "")}}"/>
    
    <br/>
    <div class="row col-sm-6">
        <div class="form-group col-sm-12">
            <label>Comando:</label>
            <input type="text" value="{{post.comando}}" class="form-control" name="comando" id="comando"/>
        </div>
        <div class="form-group col-sm-8">
            <input type="submit" class="btn btn-primary" value="Executar"/>
        </div>
        {% if resposta %}
        <div class="form-group col-sm-12">
            <label>Resposta:</label>
            <pre class="" style="">{{resposta}}</pre>
        </div>
        {% endif %}
        <div class="form-group col-sm-12">
            <pre>{{ ( post.comando ~ (post.ultimos_exec ? "<br/>"~post.ultimos_exec : ""))|raw}}</pre>
        </div>
    </div>

    <div class="row col-sm-6">
        <div class="form-group col-sm-12" id="log_content">Carregando...</div>
    </div>

</form>
            
<script>
    function loadLog()
    {
        $("#log_content").load("{{url_module}}/get-log");
    }
    $(function(){
        loadLog();
        setInterval(function(){
            loadLog();
        }, 5000);
        $("#comando").focus();
    });
</script>
    
{% endblock %}