<pre class="well" id="log_pre" style="height: 400px; overflow-y: scroll; display: block;">
{{conteudo}}
<div id="last"></div>    
</pre>
    
<script>
{#    $("#log_content").scrollTop( $("#log_content").scrollTop() + $("#last").position().top );#}
{#    console.log($("#log_content").scrollTop() + $("#last").position().top);#}
    $(function(){
{#        $("#log_pre").animate({scrollTop: 99999});#}
        $("#log_pre").scrollTop(99999);
    });
</script>