{% extends "painel.twig" %}

{% block conteudo %}

    
<form method="post" action="{{url_module}}/mensagem" id="form_login" autocomplete="off">

        <h4>Envie uma mensagem ao servidor:</h4>
        <br/>
        <div class="row col-sm-6">
            <div class="form-group col-sm-12">
                <label>Título:</label>
                <input type="text" value="{{post.titulo}}" class="form-control" name="titulo"/>
            </div>
            <div class="form-group col-sm-12">
                <label>Subtítulo:</label>
                <input type="text" value="{{post.subtitulo}}" class="form-control" name="subtitulo"/>
            </div>
            <div class="form-group col-sm-8">
                <input type="submit" class="btn btn-primary" value="Enviar"/>
            </div>
        </div>
            
        <div class="row col-sm-6">
            <div class="form-group col-sm-12" id="log_content">Carregando...</div>
        </div>

</form>
            
<script>
    function loadLog()
    {
        $("#log_content").load("{{url_module}}/get-log");
    }
    $(function(){
        loadLog();
        setInterval(function(){
            loadLog();
        }, 5000);
    });
</script>
    
{% endblock %}